form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

@media screen and (max-width: 768px) {
    label {
        margin: .7rem 0;
    }
     input {
        padding: .2rem;
    }
}

@media screen and (min-width: 769px) {
    label {
       margin: 1rem 0;
   }
    input {
       padding: .5rem;
   }
}

